<div id="noticias" class="mt-2 pt-3">
    <div fxLayout="column" fxLayoutAlign="center center" class="title-section p-2 mb-2">  
        <h1>Noticias</h1>
        <p class="secondary-text-color">El acontecer nacional e internacionl del mundo de Reconocimiento de Patrones </p>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">        
        <div fxFlex="100">
            <div *ngIf="noticias" fxLayout="row wrap" fxLayoutAlign="center center">
                <div *ngFor="let noticia of noticias" fxFlex="100" fxFlex.gt-md="25" fxFlex.md="33.3" fxFlex.sm="50" class="p-2">
                    <mat-card>
                        <img mat-card-image [src]="noticia.imagen" alt="image">
                        <mat-card-content>
                            <h3>{{noticia.titulo}}</h3>
                            <p class="secondary-text-color mt-2">{{noticia.miniDescripcion}}</p>
                        </mat-card-content>
                        <mat-divider></mat-divider>
                        <mat-card-actions fxLayoutAlign="center" class="secondary-text-color">
                            <button mat-raised-button color="accent" (click)="openDialog(noticia)" class="mt-3">Leer Más</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>