<h1 mat-dialog-title><span *ngIf="!miembro.id">Añadir</span><span *ngIf="miembro.id">Edit</span> Miembro</h1>
<div mat-dialog-content>
    <pre>
        {{form.valid}}
    </pre>
    <form [formGroup]="form" class="user-form">      
        <mat-tab-group class="vertical-tabs">
            <mat-tab label="Personal" [formGroup]="form">
                <div fxLayout="column" class="form-field-outer">
                    <div>
                        <button mat-button (click)="inputFile.click()">Suba una foto de perfil</button>
                        {{ inputFile.value }}
                        <input #inputFile type="file" [style.display]="'none'" (change)="onFileChange(inputFile.files)">
                    </div>
                    <mat-form-field class="w-100">
                        <mat-placeholder><mat-icon>person</mat-icon> Username</mat-placeholder>
                        <input matInput formControlName="username" required>
                        <!--<mat-error *ngIf="form.controls.usuario.username.errors?.required">Username is required</mat-error>-->
                        <!--<mat-error *ngIf="form.controls.usuario.username.hasError('minlength')">Username isn't long enough, minimum of 5 characters</mat-error>-->
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-placeholder><mat-icon>vpn_key</mat-icon> Password</mat-placeholder>
                        <input matInput formControlName="password" required [type]="passwordHide ? 'password' : 'text'">
                        <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        <!--<mat-error *ngIf="form.controls.usuario.password.errors?.required">Password is required</mat-error>-->
                        <!--<mat-error *ngIf="form.controls.usuario.password.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>-->
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Nombre" formControlName="first_name">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Apellidos" formControlName="last_name">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="email" formControlName="email">
                    </mat-form-field>
                </div>
            </mat-tab>

            <mat-tab label="Profesional"  [formGroup]="form.controls.miembro">
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <mat-select formControlName="centro" #selectBank>
                            <mat-option *ngFor="let centro of centros, let i=index" [value]="centro.id">
                                {{centro.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Categoria" formControlName="categoria">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Cargo" formControlName="cargo">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <textarea matInput placeholder="Resumen CV" formControlName="resumenCV"></textarea>
                    </mat-form-field>
                </div>
            </mat-tab>
        </mat-tab-group>
    </form>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button color="primary" [mat-dialog-close]="form.value" [disabled]="!form.valid"><span *ngIf="miembro && !miembro.id">Crear</span><span *ngIf="miembro && miembro.id">Actualizar</span></button>
    <button mat-raised-button color="warn" (click)="close()">Cancel</button>
</div>