<div id="publicaciones" class="mt-2 pt-3">
    <div fxLayout="column" fxLayoutAlign="center center" class="title-section p-2 mb-2">  
        <h1>Publicaciones y Revistas</h1>
        <p class="secondary-text-color">Acceso total a las publicaciones de nuestros miembros y a las revistas de la ACRP</p>
    </div>
    <mat-tab-group class="pricing-tabs">
        <mat-tab label="Publicaciones"><app-publicaciones-landing></app-publicaciones-landing></mat-tab>
        <mat-tab label="Boletines"><app-boletines-landing></app-boletines-landing></mat-tab>
    </mat-tab-group>
</div> 