<div  *ngIf="publicaciones" fxLayout="row wrap" fxLayoutAlign="center center">
    <div *ngFor="let publicacion of publicaciones" fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2">
        <mat-card class="pricing-card text-center p-0">
            <h2 class="pricing-title my-3">{{publicacion.titulo}}</h2>
            <div class="bg-accent pricing-header p-3" fxLayout="column" fxLayoutAlign="center center">
                <h1>{{publicacion.categoria}}</h1>
            </div>
            <div class="secondary-text-color p-3">
                <p class="desc mb-2">{{publicacion.descripcion}}</p>
            </div>
            <button mat-raised-button color="primary" class="mt-3"  (click)="downloadBoletin(publicacion.pdf)">Descargar</button>
        </mat-card>
    </div>
</div>