<mat-sidenav-container class="h-100">
  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
       <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxFlex="90" fxFlex.gt-sm="30" fxFlex.sm="60" class="mat-elevation-z6">
            <app-content-header 
                [icon]="'exit_to_app'" 
                [title]="'Iniciar Sesión'"
                [hideBreadcrumb]="true"
                [hasBgImage]="true" 
                [class]="'py-4'"></app-content-header>            
            <div class="p-3">
               <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">person</mat-icon>
                    <input matInput placeholder="Usuario" formControlName="username">
                    <mat-error *ngIf="form.controls.username.errors?.required">Ingrese el usuario</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">lock</mat-icon>
                    <input matInput placeholder="Contraseña" formControlName="password">
                    <mat-error *ngIf="form.controls.password.errors?.required">Ingrese la contraseña</mat-error>
                </mat-form-field>               
                <button mat-raised-button color="primary" class="mat-elevation-z6 w-100 mt-3" type="submit">COMENZAR SESIÓN</button>
            </div>
        </form>
  </div>
</mat-sidenav-container>