<app-content-header
        [icon]="'work'"
        [title]="'Proyectos'"
        [desc]="'Listado de los proyectos, edite, elimine o añada'"
        [hideBreadcrumb]="false"
        [hasBgImage]="true"
        [class]="'pb-5'"></app-content-header>

<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center" class="px-2 member-toolbar">
    <div fxLayout="row">
        <button mat-icon-button (click)="openProyectoDialog(null)">
            <mat-icon>add_circle</mat-icon>
        </button>
    </div>
</mat-toolbar>

<div class="members-wrapper p-2">
    <div *ngIf="viewType == 'list'" fxLayout="row wrap">
        <div *ngFor="let proyecto of proyectos" fxFlex="100" class="p-2">
            <mat-card class="p-0 user-content">
                <div fxFlex="100" fxFlex.xs="70" fxLayout="row wrap" fxLayout.xs="column" class="user-details">
                    <div class="w-100">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div fxLayout="row" class="w-100" fxLayoutAlign="space-between center">
                                <h4 class="user-name px-2">{{proyecto.titulo}}</h4>
                            </div>
                            <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </div>
                        <mat-menu #menu="matMenu" xPosition="before" overlapTrigger="true">
                            <span (mouseleave)="menuTrigger.closeMenu()">
                                <button mat-menu-item (click)="openProyectoDialog(proyecto)">
                                    <mat-icon>mode_edit</mat-icon>
                                    <span>Editar</span>
                                </button>
                                <button mat-menu-item (click)="deleteProyecto(proyecto);">
                                    <mat-icon>delete</mat-icon>
                                    <span>Eliminar</span>
                                </button>
                                <button mat-menu-item (click)="downloadPdf(proyecto.pdf);">
                                    <mat-icon>
get_app</mat-icon>
                                    <span>Descargar PDF</span>
                                </button>
                            </span>
                        </mat-menu>
                        <mat-divider></mat-divider>
                    </div>
                    <div fxFlex="50" fxFlex.xs="100" fxLayout="column" class="info-list px-2">
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">card_membership</mat-icon>
                            <span>{{proyecto.categoria}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">card_membership</mat-icon>
                            <span>{{proyecto.descripcion}}</span>
                        </p>
                    </div>
                    <div fxFlex="50" fxFlex.xs="100" fxLayout="column" class="info-list px-2">
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="secondary-text-color">people</mat-icon>
                            <span>autores</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center" *ngFor="let autor of proyecto.autores">
                            <mat-icon class="secondary-text-color">subdirectory_arrow_right</mat-icon>
                            <span>{{autor.usuario.first_name}} {{autor.usuario.last_name}}</span>
                        </p>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div *ngIf="proyectos" fxLayout="row wrap">
        <div fxFlex="100" class="p-2">
            <mat-card class="p-0 text-center">
                <pagination-controls class="annular-pagination" autoHide="true" maxSize="3"
                                     (pageChange)="onPageChanged($event)"></pagination-controls>
            </mat-card>
        </div>
    </div>
    <div *ngIf="!proyectos" fxLayout="column" fxLayoutAlign="center center" class="member-spinner">
        <mat-spinner color="accent"></mat-spinner>
    </div>
</div>