<div fxLayout="row wrap">
    <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="16.6" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">        
        <mat-card class="gradient-green tile p-2"> 
            <mat-icon>work</mat-icon>
            <h2>{{memberActive.proyectos.length}}</h2>
            <p>Proyectos</p>
        </mat-card>
    </div>
    <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="16.6" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">        
        <mat-card class="gradient-red tile p-2"> 
            <mat-icon>library_books</mat-icon>
            <h2>{{memberActive.publicaciones.length}}</h2>
            <p>Publicaciones</p>
        </mat-card>
    </div>
    <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="16.6" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">
        <mat-card class="gradient-orange tile p-2">
            <mat-icon>messages</mat-icon>
            <h2>{{memberActive.mensajes.length}}</h2>
            <p>Mensajes</p>
        </mat-card>
    </div>
    <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="16.6" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">
        <mat-card class="gradient-pink tile p-2">
            <mat-icon>book</mat-icon>
            <h2>{{memberActive.boletines.length}}</h2>
            <p>Boletines</p> 
        </mat-card>
    </div>
    <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="16.6" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">
        <mat-card class="gradient-gray tile p-2">
            <mat-icon>pie_chart</mat-icon> 
            <h2>$2700</h2>         
            <p>tax</p> 
        </mat-card>
    </div>  
    <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="16.6" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2">
        <mat-card class="gradient-brown tile p-2">
            <mat-icon>save_alt</mat-icon> 
            <h2>12700</h2>         
            <p>downloads</p> 
        </mat-card>
    </div>      
</div>